<h2 class="modal-title">Команда_2_проект</h2>
<ul class="modal-team">
    <li class="modal-team-item">
        <div class="modal-container-wrapper">
            <svg class="heart-svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-bender"></use>
            </svg>
            <p class="modal-team-item-teammates">Alexander Gashkov</p>
        </div>
        <p class="modal-team-item-teammates-description">
            Team leader - систематизирует коллективный разум, консультирует
            и просто излучает позитив
        </p>
        <p></p>
    </li>

    <li class="modal-team-item">
        <div class="modal-container-wrapper">
            {{!-- <img src="./images/user-group.png" width="50" height="50" alt="иконка-группа" /> --}}
            <ul class="modal-team-item-teammates">
                <li>Andriy Rudkovsky</li>
                <li>Grangel Dima</li>
                <li>Evgenii</li>

                <li>Stanislav Kazikin</li>
                <li>Maksym Sereda</li>
                <li>Serhii Stanislav</li>
                <li>Valerii</li>
            </ul>
        </div>
        <p class="modal-team-item-teammates-description">
            Без 5 минут программисты. Вносят неоценимый вклад в проект.
        </p>
    </li>

    <li class="modal-team-item">
        <div class="modal-container-wrapper">
            {{!-- <img src="./images/user-group-creative.png" width="50" height="50" alt="иконка-группа-креатив" /> --}}
            <ul class="modal-team-item-teammates">
                <li>Ludmila Gavrish</li>
                <li>Halina Prokopiv</li>
                <li>Kara</li>
            </ul>
        </div>
        <p class="modal-team-item-teammates-description">
            Креативная группа, почти веб-разработчики. Вносят красоту в
            проект.
        </p>
    </li>
</ul>