<div class="modal-form__wrap">
  <div class="welcome container">

    <form id="login-form">
      <h3>Log in</h3>

      <input type="email" name="email" placeholder="Email" id="login-email" data-email="email" required />
      <input type="password" name="password" placeholder="Password" id="login-password" required />
      <div class="error-login error"></div>
      <button id="login-btn">Log in</button>

      <p>
        No account yet? <span data-click="click-signup">Signup</span> instead.
      </p>
    </form>
  </div>
</div>