<div class="footer-modal-content">
    <h2 class="footer-modal-title">Команда_2_проект</h2>

    <ul class="footer-modal-team">
        <li class="footer-modal-team-item">
            <div class="footer-modal-wrapper">
                <svg class="footer-img" width="70" height="70">
                    <use href="./images/sprite.svg#icon-bender"></use>
                </svg>
                <p class="modal-team-item-teammates team-leader">Александр Гашков</p>
            </div>
            <p class="footer-modal-teammates-description">
                Team leader - систематизирует коллективный разум, консультирует
                и просто излучает позитив.
            </p>
            <p></p>
        </li>

        <li class="footer-modal-team-item">
            <div class="footer-modal-wrapper user-group">
                <ul class="modal-team-item-teammates ">
                    <li class="modal-team-item-teammate-name">Рудковский Андрей</li>
                    <li class="modal-team-item-teammate-name">Кузьменко Дмитрий</li>
                    <li class="modal-team-item-teammate-name">Иванов Евгений</li>
                    <li class="modal-team-item-teammate-name">Станислав Казикин</li>
                    <li class="modal-team-item-teammate-name">Максим Середа</li>
                    <li class="modal-team-item-teammate-name">Сергей Станислав</li>
                    <li class="modal-team-item-teammate-name">Матвиенко Валерий</li>
                </ul>
            </div>
            <p class="footer-modal-teammates-description">
                Без 5 минут программисты. Вносят неоценимый вклад в создание проекта.
            </p>
        </li>

        <li class="footer-modal-team-item">
            <div class="footer-modal-wrapper user-group-creative">
                <ul class="modal-team-item-teammates">
                    <li class="modal-team-item-teammate-name">Людмила Гавриш</li>
                    <li class="modal-team-item-teammate-name">Галина Прокопив</li>
                    <li class="modal-team-item-teammate-name">Карина Сардарян</li>
                </ul>
            </div>
            <p class="footer-modal-teammates-description">
                Креативная группа, почти веб-разработчики. Декоративные эффекты - их рук дело.
            </p>
        </li>
    </ul>
</div>