 <div class="welcome container login-box">
     <h2>Sign up</h2>
      <form id="signup-form" autocomplete="off">
        <div class="user-box">
      <input type="text"
        name="displayName" id="signup-displayName" required="">
      <label>Display Name</label>
    </div>
        <div class="user-box">
      <input type="email"
        name="email" id="signup-email" required="">
      <label>Email</label>
    </div>
        <div class="user-box">
      <input type="password"
        name="password" id="signup-password" required="">
      <label>Password</label>
    </div>
      <div class="error-signup error"></div>
      <div class="class-flex">
     <button id="signup-btn" >

      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Sign Up
      
      

    </button>
      <p>
        Already registered? <span class="click-span" data-toggle="login" >Login</span> instead.
      </p>
      </div>
    </form>
  </div>
</div>