   
     <div class="welcome container login-box">

      <h2>Log in</h2>
      <form id="login-form" autocomplete="off">
        <div class="user-box">
      <input type="email"
        name="email" id="login-email" required="">
      <label>Email</label>
    </div>
        <div class="user-box">
      <input type="password"
        name="password" id="login-password" required="">
      <label>Password</label>
    </div>
      <div class="error-login error"></div>
         <div class="class-flex">
     <button id="login-btn">

      <span></span>
      <span></span>
      <span></span>
      <span></span>
      login
      
      

    </button>
      <p>
        No account yet? <span class="click-span"  data-toggle="signup">Signup</span> instead.
      </p>
      </div>
        </form>
      </div>
