.js-section-film {
  padding-top: 20px;
}

///////////////////////////////////////
/*Скрываем скролл до конца страницы*/
// a.tui-page-btn.tui-last,
// a.tui-page-btn.tui-first,
// span.tui-page-btn.tui-is-disabled.tui-first {
//   visibility: hidden;
// }
//////////////////////////////////////
#tui-pagination-container {
  margin-top: 45px;
}

.film-list-img {
  max-width: 100%;
  // max-height: 400px;
  // border-radius: 5px;
  display: block;
  background-size: cover;
}

.film-list-block-img {
  overflow: hidden;
  border-radius: 5px;
  max-width: 100%;
  max-height: 403px;
  margin-bottom: 10px;
}

.film-list-movie-genre,
.film-list-movie-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.film-list-movie-genre {
  color: #ff6b08;
}
.film-list-movie-title {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.js-section-film {
  // background-color: aqua;
  margin-left: auto;
  margin-right: auto;
}

.movie-link {
  position: relative;
  display: block;
  transition: all 250ms ease;
  &:hover {
    transform: scale(1.02);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
  }
}

// .movie-link:hover .film-list-movie-title,
// .movie-link:hover .film-list-movie-genre {
//   overflow: visible;
//   white-space: unset;
// }

// buttons on movie cards
.movie-card-btn {
  min-width: 100px;
  border: 1px solid $header-text-color;
  color: $header-text-color;
  background-color: rgba(19, 29, 44, 0.3);
  transition: background-color 250ms ease;
}

.show-movie-card-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  padding: 10px;

  background: transparent;

  opacity: 0;

  transition: opacity 250ms ease;
}

.movie-link:hover .show-movie-card-buttons {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .js-section-film {
    width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .film-list-li {
    margin-bottom: 31px;
    width: 274px;
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .js-section-film {
    max-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .film-list-li {
    margin-bottom: 31px;
    width: 294px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  .js-section-film {
    max-width: 320px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .film-list {
    margin-left: auto;
    margin-bottom: auto;
  }
  .film-list-li {
    margin-bottom: 0px;
    max-width: 268px;
    max-height: 445px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// .hidden {
//   visibility: hidden;
// }
