// modalHandler
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.film {
  background-color: darkred;
  width: 80px;
  height: 150px;
}

/* Backdrop */
body.show-modal-film .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal-film .modal {
  transform: scale(1);

  @media screen and (max-width: 767px) {
    background-color: $header-text-color;
  }
}

body.show-modal-signup .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal-signup .modal {
  transform: scale(1);
}

body.show-modal-footer .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal-footer .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  overflow-y: scroll;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 20px;
  width: 40px;
  height: 40px;
}
