<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Filmoteka + Firebase</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>
      <!-- Удаляет ошибку favicon.ico 404 (not found) -->
      <link rel="shortcut icon" href="#">
      <!-- --------------------------------------- -->

    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAf39/EoKCgieCgoIrgoKCK4KCgiuCgoIrgoKCK4KCgiuCgoIrgoKCK4KCgiuCgoIr
f39/KH9/fw4AAAAAf39/HIGBgb+AgID4gYGB/4GBgf+BgYH/gYGB/4GBgf+BgYH/gYGB/4GBgf+B
gYH/gYGB/4GBgfuBgYGqf39/DoGBgVGBgYH9f39/JAAAAACBgYH/goKCKwAAAAAAAAAAAAAAAAAA
AACBgYFVgYGB/wAAAAB/f38sgYGB9n9/fyaBgYFVgYGB/wAAAAAAAAAAgYGB/4KCgisAAAAAAAAA
AAAAAAAAAAAAgYGBVYGBgf8AAAAAAAAAAIGBgf+CgoIrgYGBVYGBgf+BgYH/gYGB/4GBgf+CgoIr
AAAAAAAAAAAAAAAAAAAAAIGBgVWBgYH/gYGB/4GBgf+BgYH/goKCK4GBgVWBgYH/gYGBVYGBgVWB
gYH/goKCKwAAAAAAAAAAAAAAAAAAAACBgYFVgYGB/4GBgVWBgYFVgYGB/4KCgiuBgYFVgYGB/wAA
AAAAAAAAgYGB/4KCgisAAAAAAAAAAAAAAAAAAAAAgYGBVYGBgf8AAAAAAAAAAIGBgf+CgoIrgYGB
VYGBgf+BgYGqgYGBqoGBgf+AgIC4gYGBqoGBgaqBgYGqgYGBqoCAgMaBgYH/gYGBqoGBgaqBgYH/
goKCK4GBgVWBgYH/gYGB1YGBgdWBgYH/gICA3IGBgdWBgYHVgYGB1YGBgdWBgYHjgYGB/4GBgdWB
gYHVgYGB/4KCgiuBgYFVgYGB/wAAAAAAAAAAgYGB/4KCgisAAAAAAAAAAAAAAAAAAAAAgYGBVYGB
gf8AAAAAAAAAAIGBgf+CgoIrgYGBVYGBgf+CgoIrgoKCK4GBgf+CgoIrAAAAAAAAAAAAAAAAAAAA
AIGBgVWBgYH/goKCK4KCgiuBgYH/goKCK4GBgVWBgYH/gYGB/4GBgf+BgYH/goKCKwAAAAAAAAAA
AAAAAAAAAACBgYFVgYGB/4GBgf+BgYH/gYGB/4KCgiuBgYFVgYGB/wAAAAAAAAAAgYGB/4KCgisA
AAAAAAAAAAAAAAAAAAAAgYGBVYGBgf8AAAAAAAAAAIGBgf+CgoIrf39/ToGBgft/f38cAAAAAIGB
gf+CgoIrAAAAAAAAAAAAAAAAAAAAAIGBgVWBgYH/AAAAAH9/fySBgYH7goKCKYODgyOBgYHUgYGB
/YGBgf+BgYH/gYGB/4GBgf+BgYH/gYGB/4GBgf+BgYH/gYGB/4GBgf+BgYH7gYGBv39/fxIAAAAA
g4ODI4GBgVGBgYFVgYGBVYGBgVWBgYFVgYGBVYGBgVWBgYFVgYGBVYGBgVWBgYFVgoKCTH9/fxwA
AAAA//8AAIABAAC37QAAt+0AAIfhAAC37QAAt+0AAIABAACAAQAAt+0AALftAACH4QAAt+0AALft
AACAAQAA//8AAA==" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <!-- Heder home -->

    <header class="header-home header">
      <div class="container">
        <div class="top-flex-home">
          <a href="./index.html" class="logo">
            <svg width="24" height="24" class="logo-icon">
              <use href="../src/images/sprite.svg#icon-film"></use>
            </svg>
            <p class="logo-title">Filmoteka</p>
          </a>

          <nav>
            <ul class="site-nav list">
               <li class="nav-item">
                <a href="" class="link current link-home remove-active-home" data-collection="home">Home</a>
              </li>
              <li class="nav-item" >
               <a href="" class="link link-library remove-active-lib" data-collection="collection">my library</a>
              </li>


              <li class="nav-item logged-in" style="display: none;">
                 <a href="" class="link link-library " id="chat" data-chat="show-chat"><span class="material-icons" id="chat-icon">
chat
</span></a>
</li>
              <li class="logged-in" style="display: none;">
                 <a href="" class="link link-library" id="logout"><span class="material-icons">
logout
</span></a>
               </li>
               


              <!-- <li class="logged-out" style="display: none;">
                  <a href="" class="link link-library" data-target="modal-login" data-open="login">Login</a>
               </li> -->
                <li class="logged-out" style="display: none;">
                  <a href="" class="link link-library" data-target="modal-signup" data-open="signup">Sign up</a>
                </li>
                
            </ul>
          </nav>
          
        </div>
        
        <div class="toolbar" style="display: flex;">
        <form class="search-form" id="search-form">
          <input
            name="query"
            class="search-input"
            type="text"
            autocomplete="off"
            placeholder="Search movies"
          />
          <button type="submit" class="search-btn">
            <svg width="12" height="12">
              <use href="../src/images/sprite.svg#icon-search-2"></use>
            </svg>
          </button>
        </form>
        <div class="bottom-header visually-hidden">
          <a href="#" class="link-header" ><button class="button header-button watched-btn " data-collection="watched">Watched</button></a>
         <a href="#" class="link-header" > <button class="button header-button queue-btn active-lib-btn" data-collection="queue">queue</button></a>
        </div>

        <div class="theme-switch-div">
          <input class="theme-switch__toggle" type="checkbox" name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой">
        </div>
        </div>

        <p class="notification" id="mainError">
          Search result not successful. Enter the correct movie name and try
          again
        </p>
      </div>
    </header>




  

    <div class="account-details"></div>
    <ul class="getLib"></ul>

    <!-- MAIN -->

    <div class="loader-div" id="spinner-loader" style="display:none;text-align:center;">
      <img class="loader-spinner" src="./images/spin.gif" style="display:inline; width: 256px;">
    </div>

    <main>
      <section class="js-section-film ">
        <h2 class="visually-hidden">Аcсортимент фильмов</h2>
        <ul class="film-list js-ul-film"></ul>

        <div id="tui-pagination-container" class="tui-pagination"></div>
      </section>

      <!-- My Library section -->

      <!-- <section class="my-library hidden">
        <div class="lib-container">
          <ul class="my-library__list">
          </ul>
        </div>
      </section> -->


<div id="vue-app" class=" hidden">
<section   id="app">
   <div class="vue-container vue-box">
     <div class="vue-nav">
      <p>Hey there, {{ displayName }}!</p>
      <p class="email">Currently logged in as {{ email }}</p>
    </div>
  <div class="vue-chat-window">
    <div v-if="error">{{ error }}</div>
    <div v-if="documents" class="vue-messages" ref="scrollRef">
      <div v-for="doc in formattedTime" :key="doc.id" class="single">
        <span class="vue-created-at">{{ doc.createdAt }}</span>
        <span class="vue-name">{{ doc.name }}</span>
        <span class="vue-mesage">{{ doc.message }}</span>
      </div>
    </div>
  </div>
   <form>
    <textarea
      placeholder="Type a message and hit enter to send"
      v-model="message"
      @keypress.enter.prevent="handleSubmit"
    >
    </textarea>
    <div v-if="error" class="vue-error">{{ error }}</div>
  </form>
  </div>
</section>
</div>
 

    </main>

    <!-- Modal -->
    <!-- <button class="button" data-open="signup">Sign Up</button>
    <button class="button" data-open="login">Log In</button> -->
    
    <div class=" backdrop js-backdrop">
      <div class="modal">
        <div class="modal-content"></div>
        <button type="button" class="close-modal hidden" data-close-modal>×</button>
      </div>
    </div>






    <button
      class="scroll-to-top-btn"
      id="scroll-to-top-button"
      title="Go to top"
    >
      &#8679;
    </button>

    <!------footer--------->
    <div class="footer-container">
      <footer class="footer-section">
        <p class="footer-copyright">
          &copy; 2021 | all rights reserved |&nbsp;
        </p>
        <p class="footer-aboute-team-link">developed<span class="footer-text-lower"> 
          with<svg class="footer-favorite-svg" width="14" height="12.75">
              <use href="./images/sprite.svg#icon-favorite"></use></svg></svg>by
          </span>
          <a href="#" class="footer-modal-link" data-open="footer">GoIT Students</a>
        </p>
      </footer>
    </div>
        <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </body>
</html>
