<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Filmoteka + Firebase</title>
  </head>

  <body>

    <!-- DON`T FORGET TO DELETE IT :D -->
    <h1>Hello Team!(❁´◡`❁)</h1>

    <!-- Modal -->
    <button tupe="button" data-open-modal>Open Modal</button>
    <template id="modal">
      <div class="modal">
        <section class="modal-section">
          <div class="modal-container">
            <img class="modal-section__image" src="./images/modal-image.jpg" alt="">
            <div class="modal-section__meta">
              <h2 class="modal-meta__title">A FISTFUL OF LEAD</h2>
              <div class="modal-meta__info">
                <ul class="modal-info__list">
                  <li>Vote / Votes</li>
                  <li>Popularity</li>
                  <li>Original Title</li>
                  <li>Genre</li>
                </ul>
                <ul class="modal-info__list">
                  <li><span>7.3</span>/<span>1260</span></li>
                  <li>100.2</li>
                  <li>A FISTFUL OF LEAD</li>
                  <li>Western</li>
                </ul>
              </div>
              <h3 class="modal-meta__title description">About</h3>
              <p class="modal-meta__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
                gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
                abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                been double crossed – but by who and how?
              </p>
              <div class="modal-meta__btn-wrap">
                <button>add to Watched</button>
                <button>add to queue</button>
              </div>
              <button class="modal-btn__close" type="button" data-close-modal>x</button>
            </div>
          </div>
        </section>
      </div>
    </template>

    <!-- Sign up -->
    <form id="signupForm-js">
      <h3>Sign up</h3>
      <input type="text" placeholder="Display Name" id="displayName-js" />
      <input type="email" placeholder="Email" id="email-js" />
      <input type="password" placeholder="Password" id="password-js" />
      <!-- <div v-if="error" class="error">{{ error }}</div> -->
      <button id="signupBtn-js">Sign up</button>
      <!-- <button v-if="isPending" disabled>Loading...</button> -->
    </form>

  </body>
</html>
