@import './sass/base/variables';
@import './sass/base/common';
// @import './sass/layouts/login-signup';
@import './sass/layouts/header';
@import './sass/layouts/my-lib';
@import './sass/layouts/header-home';
@import './sass/layouts/header-library';
@import './sass/layouts/main';
@import './sass/layouts/modal';
@import './sass/layouts/modal-film-markup';
@import './sass/layouts/modal-trailer';
@import './sass/layouts/trailer-notification';
@import './sass/layouts/pnotifyCustom';
@import './sass/layouts/scroll-to-top-btn';
@import './sass/layouts/footer';
@import './sass/layouts/pagination';
@import './sass/layouts/switchTheme';
@import './sass/layouts/submitBtn';
// @import './sass/layouts/tui-pagination';
@import './sass/layouts/vue-style';
